
div.show-image {
  position: relative;
  float:left;
  margin:5px;
}
div.show-image:hover img{
  opacity:0.5;
}
div.show-image:hover button.show-image-delete {
  display: block;
}
div.show-image button.show-image-delete {
  position:absolute;
  display:none;
}
div.show-image button.show-image-delete {
  top:40%;
  left:15%;
  background-color: #F86C6B;
  border:none;
  color: white;
  font-size: 18px;

  background-image: url(../../assets/img/remove_icon.png); /* 16px x 16px */
    /* background-color: transparent; make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    /* height: 16px;           make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}